server:
  port: 8000

spring:
  cloud:
    loadbalancer:
      ribbon:
        # Not needed since we excluded the dependency
        enabled: false
    consul:
      enabled: true
      discovery:
        # Get only services that are passing the health check
        query-passing: true
      host: ${SPRING_CLOUD_CONSUL_HOST:localhost}
      port: 8500
    gateway:
      server:
        webflux:
          routes:
            - id: multiplication
              uri: lb://multiplication/
              predicates:
                - Path=/challenges/**,/attempts/**,/users/**
            - id: gamification
              uri: lb://gamification/
              predicates:
                - Path=/leaders
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "http://localhost:3000"
                allowedHeaders:
                  - "*"
                allowedMethods:
                  - "GET"
                  - "POST"
                  - "OPTIONS"
          default-filters:
            - name: Retry
              args:
                retries: 3
                methods: GET,POST
          observability:
            enabled: true
            #httpserver:
            #wiretap: true
            #httpclient:
            #wiretap: true
  reactor:
    context-propagation: auto
  kafka:
    bootstrap-servers: ${SPRING_CLOUD_KAFKA_HOST:localhost}:9094
##working with default logback configuration for distributed tracing
logging:
  pattern:
    level: "[${spring.application.name:-},%X{traceId:-},%X{spanId:-}] "
  include-application-name: false
  level:
    #reactor.netty: DEBUG
    org.springframework.cloud.gateway.handler.predicate: trace
    #io.micrometer: TRACE
management:
  tracing:
    sampling:
      probability: 1.0
    export:
      enabled: true
      zipkin:
        endpoint: http://${SPRING_CLOUD_ZIPKIN_HOST:localhost}:9411/api/v2/spans

---
spring:
  config:
    activate:
      on-profile: docker
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "http://challenges-frontend:3000"
                allowedHeaders:
                  - "*"
                allowedMethods:
                  - "GET"
                  - "POST"
                  - "OPTIONS"
  kafka:
    bootstrap-servers: ${SPRING_CLOUD_KAFKA_HOST}:9092